@import './variable.scss';

.app-main {
    .downloads-view {
        background-color: $nf-black;
        min-height: calc(100vh - 70px);
        padding-bottom: 80px;
        color: $nf-white;
        display: flex;
        flex-direction: column;

        // Media Queries for tablet/desktop

        .downloads-header {
            padding: 24px 32px 8px;

            .smart-downloads {
                font-size: 15px;
                color: $nf-white;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 8px;

                i {
                    font-size: 32px;
                }
            }
        }

        .empty-state {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 32px;
            text-align: center;

            h1 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 20px;
                max-width: 300px;
            }

            p {
                font-size: 15px;
                color: $nf-grey;
                line-height: 1.5;
                margin-bottom: 40px;
                max-width: 350px;
            }

            .illustration {
                width: 220px;
                height: 220px;
                background-color: $nf-dark-grey;
                border-radius: 50%;
                margin-bottom: 48px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 80px;
                    color: $nf-dark-grey;
                }
            }

            .btn-setup {
                width: 100%;
                background-color: $nf-blue;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                font-weight: 700;
                font-size: 15px;
                margin-bottom: 24px;
                max-width: 400px;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    background-color: $nf-blue;
                }
            }

            .btn-find {
                background-color: $nf-dark-grey;
                color: $nf-white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                font-weight: 700;
                font-size: 15px;
                cursor: pointer;

                &:hover {
                    background-color: $nf-dark-grey;
                }
            }
        }

        .downloads-list {
            padding: 32px;

            .section-title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 24px;
            }

            .download-item-container {
                margin-bottom: 24px;

                .download-item {
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    cursor: pointer;

                    .item-img {
                        width: 130px;
                        aspect-ratio: 16/9;
                        border-radius: 4px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .item-info {
                        flex: 1;

                        h4 {
                            font-size: 15px;
                            font-weight: 600;
                            margin: 0 0 4px;
                        }

                        p {
                            font-size: 14px;
                            color: $nf-grey;
                            margin: 0;
                        }
                    }

                    .item-chevron-btn {
                        padding: 32px 8px;
                        color: $nf-grey;
                        cursor: pointer;

                        i {
                            font-size: 1.32px;
                            transition: transform 0.2s;
                        }

                        &:hover i {
                            color: $nf-white;
                        }
                    }
                }

                .remove-option {
                    background-color: $nf-red;
                    color: $nf-white;
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    cursor: pointer;
                    border-radius: 4px;
                    margin-top: 8px;
                    font-size: 15px;
                    font-weight: 600;
                    animation: slide-down 0.2s ease-out;

                    &:hover {
                        background-color: $nf-red;
                    }

                    i {
                        font-size: 1.32px;
                    }
                }
            }
        }
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}